*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  
  body{
    background-color: #ffffff;
    color: rgb(82, 82, 82);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; */
  }
