.PageGame-container {
    font-family: 'Segoe UI', sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/bggametracker.webp');
    box-shadow: inset 50px 300px 1000px rgb(0, 0, 0);
  
  }

  .BGLogo2{
    justify-items: center;
    padding: 20px;
}

.BGLogo2 h1{
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0px 0px 5px #4474f8, 0px 0px 10px #5883fa, 0px 0px 10px #4274ff,
    0px 0px 20px #4273fa;
    }

.BGLogo2 h1:hover{
  cursor: pointer;
  text-shadow: 0px 0px 5px #b6c5ee, 0px 0px 10px #97aadf, 0px 0px 10px #bdccf7,
0px 0px 20px #c3cde9;

}
   
  .PageGame-header {
    background: #000000be;
    width: 100%;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  .PageGame-header nav {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .PageGame-header nav ul{
    display: flex;
    gap: 50px;
  }
  .PageGame-header nav ul li{
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 1.6em;
    color: #fdfdfe;
   text-shadow: 0px 0px 5px #4474f8, 0px 0px 10px #5883fa, 0px 0px 10px #4274ff,
      0px 0px 20px #4273fa;
  }

  .PageGame-header nav ul li:hover{
    cursor: pointer;
    color: #fdfdfe;
      text-shadow: 0px 0px 5px #b6c5ee, 0px 0px 10px #97aadf, 0px 0px 10px #bdccf7,
      0px 0px 20px #c3cde9;
  

  }

  .PageGame-header nav ul li span{
    display: flex;
    align-items: center;
  }

   
  .PageGame-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    
  }


  .fundodogamebgImage{
  width: 90%;
  background-color: #1e1e1e;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  
}
.gamebgImage{
    position: relative;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;        
    background-position: center center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamebgImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6); 
  z-index: 0;
}
   
  .PageGame-main {
    width: 90%;
    background-color: #1e1e1e;
    padding: 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 1100px;
  }
  .PageGame-main strong{
    font-weight: 500;
    color: rgb(228, 222, 222);
  }
  .PageGame-cover {
    position: relative;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
   .PageGame-info{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
  .PageGame-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
   
  .PageGame-info p {
    font-size: 25px;
    color: #ccc;
  }

  .generoPlataforma{
    width: 100%;
  }
   .PageGame-platforms{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .PageGame-genres{
    display: flex;
    flex-direction: column;
    width: 100%;
   }

  .PageGame-platforms,
  .PageGame-genres {
    margin-top: 10px;
  }
   
  .PageGame-platforms h3,
  .PageGame-genres h3 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 5px;
  }
   
  .PageGame-platforms p,
  .PageGame-genres p {
    font-size: 18px;
    color: #eee;
    line-height: 1.5;
  }

.reviews{
  margin-top: 300px;
  margin-bottom: 20px;
}

.writeReviewArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.writeReviewArea p{
  font-size: 1.5em;
}
.writeReviewArea button{
  height: 30px;
  width: 120px;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.writeReview{
  resize: none;
  width: 450px;
  height: 150px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #4b4b4b;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

.writeReview::placeholder{
  color: white;
}


.reviews h3{
  font-size: 1.8em;
  margin-bottom: 5px;
}


.review-list{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.review-item{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(44, 44, 44);
  padding: 10px;
  border-radius: 5px;
  width: 500px;
  height: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;


}

.containerPerfil{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
}

.autorData{
  display: flex;
  align-items: center;

}

.autorData strong{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4em;  
}

.data{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.9em;
}
.estrelas{
  color: rgb(255, 217, 0);
  font-size: 1.4em;
}
.review{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
}
.primeirareview{
  font-size: 1.7em;

}

.botoesReview{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.botoesReview button{
  width: 65px;
  height: 22px;
  padding: 5px;
  font-size: 0.8em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.popupFloating2{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: rgb(51, 51, 51);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
  z-index: 1000; 
  gap: 20px;
}



.popupFloating2 textarea{
  resize: none;
  width: 450px;
  height: 150px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #4b4b4b;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.2em;
}