.cabecalho{
  display: flex;
  background: #000000be;
  width: 100%;
  height: 100px;
  justify-content:space-between;
  padding: 20px;
  align-items: center;
  animation: slideDown 1s ease-out;  

}

.cabecalho div h1{
   font-size: 60px;
  color: #ffffff;
  animation: glowPulse 2s infinite alternate

}

.cabecalho ul{
  display: flex;
  gap: 50px;
}
 
.cabecalho ul li{
  gap: 10px;
  display: flex;
  align-items: center;
  font-size: 1.6em;
  color: #fdfdfe;
  position: relative;

}
 
.cabecalho ul li span{
  display: flex;
  align-items: center;
}
 
.cabecalho ul li:hover{
  cursor: pointer;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b6c5ee, 0px 0px 10px #97aadf, 0px 0px 10px #bdccf7,
    0px 0px 20px #c3cde9;
}
 
.cabecalho ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #4274ff;
  transition: width 0.3s ease-in-out;
}
 
.cabecalho ul li:hover::after {
  width: 100%;
}
 
.container{
  width: 100%;
  height: 200vh;
  background-color: rgb(54, 54, 54);
  justify-content: center;
  justify-items: center;
  box-shadow: inset 50px 300px 1000px rgb(0, 0, 0);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
 
.BGLogo{
  height: 600px;
  display: flex;
  justify-items: center;
  padding: 20px;
  align-items: center;
  
}
 
 
.containerGames{
  padding: 20px;
  width: 100%;
  height: 1000%;
  background: #272727;
  background: linear-gradient(180deg, rgb(27, 27, 27) 0%, rgba(13, 13, 13, 1) 61%, rgba(59, 59, 59, 1) 100%);


  
}
 
.containerGames form{
  display: flex;
  gap: 20px;
  padding-left: 50px;
}
 
.searchBar{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 40px;
}
 
.searchBar input{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #363636;
  color: rgb(211, 209, 209);
  border-radius: 4px;
  border: none;
  height: 25px;
  width: 200px;
  padding-left: 10px;
}
 .searchBar input:hover{
    background-color: #2b2a2a;

 }
.searchBar input::placeholder{
  color: rgb(185, 184, 184);
}
 .searchBar input:hover::placeholder {
  color: rgb(204, 203, 203);
}
.filtros{
  display: flex;
  gap: 15px;
}
 
.filtros select{
  border: none;
  background-color: #363636;
  border-radius: 4px;
  width: 170px;
  height: 25px;
  color: rgb(185, 184, 184);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 10px;
  cursor: pointer;

}

.filtros select:hover{
  background-color: #2b2a2a;
  color: rgb(204, 203, 203);

}
 
.filtros button{
  width: 250px;
  height: 25px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #cfcdcd;
  background-color: transparent;
}
 
.filtros button span{
  font-size: 13px;
}
 
.filtros button:hover{
  color: #f0ecec;
  background-color: transparent;
}
 
.inputList{
  border-radius: 4px;
  border: none;
  height: 25px;
  padding-left: 10px;
}
 
.searchIcon{
  color: white;
  font-size: 1.6em;
}
 
.gamesRow{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
 
.games {
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 310px;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: slideUp 1s ;

}
 
.games:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0,0,0,0.6);
}
 
.game-title {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
 
.games:hover .game-title {
  opacity: 1;
  transform: translateY(0);
}
 
.nomegame{
  font-size: 20px;
}
 
.game-info{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
 
.game-info p{
  font-size: 16px;
  color: #FFC107
}
 
.addicon{
  font-size: 1.5em;
}
 
.addicon:hover{
  cursor: pointer;
  color: rgb(211, 211, 211);
}
 
.games::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background 0.3s;
  z-index: 1;
}
 
.games:hover::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  cursor: pointer;
}
 
.games > * {
  position: relative;
  z-index: 2;
}
 
.popupFloating {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(51, 51, 51);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 20px;
  animation: popupScale 0.4s ease;
}
.popupFloating input{
  height: 50px;
  font-size: 2em;
  color: #272727;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
 
@keyframes glowPulse {
  from {
    text-shadow: 0px 0px 5px rgb(140, 141, 145), 0px 0px 10px #7f8081, 0px 0px 15px #7c7d80,
                 0px 0px 25px #87888a;
  }
  to {
    text-shadow: 0px 0px 5px #b8b6b8, 0px 0px 10px #abacad, 0px 0px 15px #cacaca,
                 0px 0px 25px #b7b7b9;
  }
  
}
 
@keyframes popupScale {
  from {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
