.container-perfil {
    width: 100%;
    height: 125vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
    background-position: center;
    box-shadow: inset 150px 300px 1000px rgb(0, 0, 0);
    background-color: #444141f5;
    background-size: cover;
}

.BGLogo3{
    height: 200px;
    display: flex;
    align-items: center;

}

.BGLogo3 h1{
font-size: 60px;
  color: #ffffff;
  animation: glowPulse 2s infinite alternate;
animation: slideDown 1s ease-out;  

    

}
.perfil-box {
    animation: slideDown 1s ease-out;  
    gap: 20px;
    display: flex;
    justify-content: center;
    background: #161616e3;
    border-radius: 15px;
    color: #dadada;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin-bottom: 100px;
    padding: 20px;
}

.perfil-box p{
    font-size: 2em;

 }
.perfil-barra-esquerda {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    
}

.perfil-barra-esquerda button{
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1.2em;
    gap: 5px;
    display: flex;
}

.editprofileicon{
    font-size: 0.9em;
}
.perfil-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.perfil-section h3{
    color: rgb(255, 238, 0);
    font-size: 2em;
}
.perfil-section p{
    font-size: 1.5em;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}
 
.perfil-nome {
    font-size: 2.4rem;
    color: #dadada;
}
 
 .botoespersonalizarcontainer{
    display: flex;
    gap: 10px;
    justify-content: center;

 }

 .botoespersonalizar{
    width: 130px;
    height: 25px;
    text-align: center;
    padding: 0;
    }

.fotoperfil{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  

}
.inputborda{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.buttonborda{
    background-color: transparent;
}
.minifoto{
     display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;


}

.editProfileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}


.editProfileContainer input{
    height: 35px;
    border-radius: 5px;
    font-size: 1.5em;
    border: none;
    padding: 5px;
    background-color: #363636;
    color: #dadada;
    padding-left: 10px;

}
.editProfileContainer h3{
    color: rgb(255, 238, 0);
    font-size: 2em;

}

.editProfileContainer input::placeholder{
    color: #dadada;
}

.editProfileContainer p{
    font-size: 1.5em;

}
.editProfileContainer p:hover{
    cursor: pointer;
    color: rgb(187, 186, 186);

}

.fotos{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    animation: slideUp 1s ;


}
.fotosbg{
    width: 100px;
    animation: slideUp 1s ;




}

.fotosbg:hover{
    cursor: pointer;
      transform: scale(1.10);

}
.fotos:hover{
    cursor: pointer;
            transform: scale(1.10);


}

.imagescontainer{
    max-height: 130px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

}



.imagesRow{
    
    margin-top: 20px;
    display: flex;
    gap: 10px;
    
}


.imagesRow2{

    display: flex;
    gap: 10px;
}


.perfil-section textarea{
    resize: none;
    height: 100px;
    padding: 5px;
    background-color: #363636;
    border: none;
    color: #dadada;
    font-size: 1.5em;
    padding-left: 10px;
    border-radius: 5px;





}

.perfil-section textarea::placeholder{
    color: white;
}