.container-perfil {
    width: 100%;
    height: 120vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
    background-position: center;
    box-shadow: inset 150px 300px 1000px rgb(0, 0, 0);
    background-color: #444141;
    padding: 20px;
    background-image: url("img.webp");
}
 

.perfil-box {
    gap: 20px;
    display: flex;
    justify-content: center;
    background: #1e1e1e;
    border-radius: 15px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin-bottom: 100px;
    padding: 20px;
}
.perfil-box p{
    font-size: 2em;

 }
.perfil-barra-esquerda {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    
}

.perfil-barra-esquerda button{
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1.2em;
    gap: 5px;
    display: flex;
}

.editprofileicon{
    font-size: 0.9em;
}
.perfil-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.perfil-section h3{
    color: yellow;
    font-size: 2em;
}
.perfil-section p{
    font-size: 1.5em;
}
 
.perfil-nome {
    font-size: 1.5rem;
}
 
 
.fotoperfil{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.editProfileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}


.editProfileContainer input{
    height: 25px;
    border-radius: 7px;
    border: none;
    padding: 5px;


}

.editProfileContainer p{
    font-size: 1.5em;

}
.editProfileContainer p:hover{
    cursor: pointer;
    color: rgb(187, 186, 186);

}
.fotos{
    width: 100px;
    border-radius: 10px;
}

.fotos:hover{
    cursor: pointer;
}

.imagesRow{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    
}


.imagesRow2{
    display: flex;
    gap: 10px;
    
}

.perfil-section textarea{
    resize: none;
    height: 100px;
    padding: 5px;

}