.PageGame-container {
    font-family: 'Segoe UI', sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    box-shadow: inset 50px 300px 1000px rgb(0, 0, 0);
  
  }


   
  .PageGame-header {
    background: #000000be;
    width: 100%;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   
  .PageGame-header nav {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .PageGame-header nav ul{
    display: flex;
    gap: 50px;
  }
  .PageGame-header nav ul li{
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 1.6em;
    color: #fdfdfe;
   text-shadow: 0px 0px 5px #4474f8, 0px 0px 10px #5883fa, 0px 0px 10px #4274ff,
      0px 0px 20px #4273fa;
  }

  .PageGame-header nav ul li:hover{
    cursor: pointer;
    color: #fdfdfe;
      text-shadow: 0px 0px 5px #b6c5ee, 0px 0px 10px #97aadf, 0px 0px 10px #bdccf7,
      0px 0px 20px #c3cde9;
  

  }

  .PageGame-header nav ul li span{
    display: flex;
    align-items: center;
  }

   
  .PageGame-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    
  }


  .fundodogamebgImage{
  width: 90%;
  background-color: #1e1e1e;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  
}
.gamebgImage{
    position: relative;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;        
    background-position: center center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamebgImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6); 
  z-index: 0;
}
   
  .PageGame-main {
    width: 90%;
    background-color: #1e1e1e;
    padding: 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 1100px;
  }
  .PageGame-main strong{
    font-weight: 500;
    color: rgb(228, 222, 222);
  }
  .PageGame-cover {
    position: relative;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
   .PageGame-info{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
  .PageGame-info h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #d4d4d4;

  }
   
.gamedata{
  font-size: 25px;
  color: #d4d4d4;


}
.gamesinopse{
  font-size: 25px;
  color: #d4d4d4;

}

.tempodejogo{
  background-color: #292929;
  height: 100px;
  border-radius: 5px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 50px;
  
}
.tempoprincipal{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

.tempoprincipal span{
  font-size: 2em;

}

.tempoprincipal p{
 font-size: 1.5em;
  
}
  .generoPlataforma{
    width: 100%;
  }
   .PageGame-platforms{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .PageGame-genres{
    display: flex;
    flex-direction: column;
    width: 100%;
   }

  .PageGame-platforms,
  .PageGame-genres {
    margin-top: 10px;
  }
   
  .PageGame-platforms h3,
  .PageGame-genres h3 {
    font-size: 25px;
    color: #c9c7c7;
    margin-bottom: 5px;
  }
   
  .PageGame-platforms p,
  .PageGame-genres p {
    font-size: 23px;
    color: #d4d4d4;
    line-height: 1.5;
  }

.semAvaliacoes{
    font-size: 2.5em;
}

.media-nota{
  margin-bottom: 50px;

}
.mediaRating{
  font-weight: 400;
  font-size: 2.5em;

}


.mediaRating span{
  font-size: 0.8em;
  color: #FFC107;

}

.reviews{
  margin-top: 300px;
  margin-bottom: 20px;
}

.writeReviewArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.writeReviewArea p{
  font-size: 1.5em;
}
.writeReviewArea button{
  height: 30px;
  width: 120px;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.writeReview{
  resize: none;
  width: 450px;
  height: 150px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #4b4b4b;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;



}

.writeReview::placeholder{
  color: white;
}


.reviews h3{
  font-size: 1.8em;
  margin-bottom: 5px;
}


.review-list{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.review-item{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(44, 44, 44);
  padding: 10px;
  border-radius: 5px;
  width: 500px;
  height: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;


}

.containerPerfil{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
}

.autorData{
  display: flex;
  align-items: center;

}

.imagensperfil{
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.autorData strong {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4em;
  position: relative; 
  cursor: pointer;
  color: #d6d5d5; 
  margin-bottom: 5px;}

.autorData strong:hover{
  color: rgb(180, 180, 175);
}

.autorData strong::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; 
  width: 0%;  
  background-color: #c0bfbf; 
  transition: width 0.3s ease-in-out; 
}

.autorData strong:hover::after {
  width: 100%;
}

.data{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.9em;
  color: #d6d5d5; 
  
}
.estrelas{
  color: #FFC107;
  font-size: 1.4em;
}
.review{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  color: #d6d5d5; 
}
.primeirareview{
  font-size: 1.7em;

}

.botoesReview{
  flex: 1;
  font-size: 1.6em;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

}

.editReviewIcon:hover{
  cursor: pointer;
  color: rgb(187, 185, 185);
  

}

.deleteReviewIcon:hover{
  cursor: pointer;
   color: rgb(187, 185, 185);

}
.popupFloating2{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: rgb(51, 51, 51);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
  z-index: 1000; 
  gap: 20px;
}



.popupFloating2 textarea{
  resize: none;
  border-radius: 5px;
  width: 450px;
  height: 150px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #4b4b4b;
  color: #d6d5d5;
  border: none;
  font-size: 1.2em;
}