
.container2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("bglogin.jpg");
  animation: bgMove 20s infinite alternate ease-in-out;
}

.logo{
  width: 100%;
  height: 120px;
  background-color: rgb(37, 37, 37);
}


.logo div h1{
  color: #fdfdfe;
    text-shadow: 0px 0px 5px #c2c2c4, 0px 0px 10px #b5b4b8, 0px 0px 10px #b2b2b4,
    0px 0px 20px #bababb;
}
main {
flex:1;
display: flex;
align-items: center;



}


.painelCentral {
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.897);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.container2 input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: rgb(51, 50, 50);;

}

button {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #555;
}

.cadastrarText{
  font-size: 1.2em;
  color: #fdfdfe;
 
}
.cadastrarText:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.footerLogin{
width: 100%;
height: 200px;
background-color:rgb(37, 37, 37);
color: white;
display: flex;
justify-content: center;
padding: 30px;
font-size: 30px;
}

.footerInsta{
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
padding: 30px;
font-size: 30px;


}


.footerLogin a {
  text-decoration: none;
  color: inherit;
  align-items: center;
  display: flex;
  justify-content: center;
}




.footerInsta img{
  width: 75px;
  height: 40px;

}

@keyframes bgMove {
  from {
    background-position: center top;
  }
  to {
    background-position: center bottom;
  }
}